@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
    font-family: Montserrat;
}

h1, h2, h3 ,h4 {
    font-family: Montserrat !important;
}

header {
    height: 156px;
    background-image: url(../../img/separador.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

header .logo {
    width:318px;
    height:100px;
    margin: auto;
    margin-top: 15px;
}

header p {
    color: #7cc242;
    font-size: 21px;
    font-weight: 400;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px

}

.boton {
    font-size: 20px;
    color:#fff;
    background-color: #7dc243;
    border: 1px solid #4e8a1d;
    width: 500px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    cursor:pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;

}

.boton:hover {
    background-color: #558d27
}

.boton2 {
    font-size: 20px;
    color:#fff;
    background-color: #f07d20;
    border: 1px solid #9f4e0d;
    width: 500px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    cursor:pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.boton2:hover {
    background-color: #aa5611
}

.ingreso {
    max-width:560px;
    height:200px;
    margin: auto;
    margin-top: 20px;
}

.ingreso h1 {
    font-size: 32px;
    font-weight: 500;
    color:#014b54;
    letter-spacing: -1px;
    text-align: center
}

.ingreso .ingreso-datos {
    text-align: center;
}

.ingreso .ingreso-datos label {
    font-size: 28px;
    font-weight: 300;
    color:#014b54;
    letter-spacing: -1px;
    text-align: center;
    padding-bottom: 20px
}

.ingreso .ingreso-datos .aviso {
    font-size: 15px;
    font-weight: 400;
    color:#014b54;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 40px
}


.elegir-cuenta {
    max-width:560px;
    height:200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px
}
.elegir-cuenta h1 {
    font-size: 32px;
    font-weight: 400;
    color:#014b54;
    letter-spacing: -1px;
    text-align: center
}
.elegir-cuenta .cuenta {
    max-width:560px;
    background-color: #f4f4f4;
    text-align: center;
    padding-top:40px;
    padding-bottom: 40px

}
.elegir-cuenta .cuenta span {
    display: block;
    color: #014b54;
    font-size: 22px
}
.elegir-cuenta .boton {
    width:100%
}

.elegir-opcion {
    max-width:880px;
    height:auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px
}

.elegir-opcion .head-datos {
    background-color: #097375;
    width:100%;
    padding: 15px
}

.elegir-opcion .head-datos span {
    display: block;
    color:#fff;
    font-size: 24px;
    font-weight: 300
}

.elegir-opcion .opciones {
    max-width:880px;
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: #f4f4f4;
    text-align: center
}

.elegir-opcion .opciones.blanco {
    background-color: #fff;
}

.elegir-opcion .opciones h2 {
    font-size: 28px;
    font-weight: 300;
    color:#014b54;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 50px
}

.elegir-opcion .opciones .table-label {
    margin-top: 20px;
    color: #097375;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}
.elegir-opcion .opciones .campo-importe {
    background-color: #fff;

}

.elegir-opcion .opciones-recarga {
    max-width:880px;
    background-color: #f4f4f4;
    text-align: center
}
.elegir-opcion .opciones-recarga.blanco {
    background-color: #fff !important;

}
.elegir-opcion .header-tit {
    margin-top: 20px;
    background-color: #f8f8f8;
    text-align: center;
    color: #097375;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}
.elegir-opcion .header-tit-exitosa {
    margin-top: 20px;
    background-color: #7dc243;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
.elegir-opcion .header-tit-rechazada {
    margin-top: 20px;
    background-color: #dc3d0b;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
.elegir-opcion .content {
    border: solid 1px #ecececcc;
    padding:10px;
    margin-bottom: 10px;
}

.descripcion-planes {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.descripcion-planes .nombre, .descripcion-planes .treintadias, .descripcion-planes .sietedias, .descripcion-planes .undia {
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

.descripcion-planes .nombre {
    width: 30%;
}
.descripcion-planes .treintadias, .descripcion-planes .sietedias, .descripcion-planes .undia {
    width: 23.3%;
}

.descripcion-planes li {
    margin-bottom: 5px;
    width: 99.9%;
    display: inline-block;
}
.descripcion-planes li:last-of-type {
    margin-bottom: 0px;
}

.descripcion-planes .plan-basico .nombre {
    background-color: #58ab41;
}
.descripcion-planes .plan-basico .treintadias {
    background-color: #6cbd45;
}
.descripcion-planes .plan-basico .sietedias {
    background-color: #7dc243;
}
.descripcion-planes .plan-basico .undia {
    background-color: #9bca41;
}
.descripcion-planes .cine-premium .nombre {
    background-color: #f37022;
}
.descripcion-planes .cine-premium .treintadias {
    background-color: #f68b1f;
}
.descripcion-planes .cine-premium .sietedias {
    background-color: #f9a61c;
}
.descripcion-planes .cine-premium .undia {
    background-color: #fdb812;
}
.descripcion-planes .hd-plus .nombre {
    background-color: #014b54;
}
.descripcion-planes .hd-plus .treintadias {
    background-color: #006674;
}
.descripcion-planes .hd-plus .sietedias {
    background-color: #0a7a7c;
}
.descripcion-planes .hd-plus .undia {
    background-color: #158e96;
}
.descripcion-planes .futbol-hd .nombre {
    background-color: #000000;
}
.descripcion-planes .futbol-hd .treintadias {
    background-color: #2f2f2f;
}
.descripcion-planes .futbol-hd .sietedias {
    background-color: #434343;
}
.descripcion-planes .futbol-hd .undia {
    background-color: #5f5f5f;
}
.descripcion-planes .adultos .nombre {
    background-color: #a33021;
}
.descripcion-planes .adultos .treintadias {
    background-color: #ab3829;
}
.descripcion-planes .adultos .sietedias {
    background-color: #ce412f;
}
.descripcion-planes .adultos .undia {
    background-color: #dd4531;
}
.descripcion-planes .decoadic .nombre {
    background-color: #475792;
}
.descripcion-planes .decoadic .treintadias {
    background-color: #596aab;
}
.descripcion-planes .decoadic .sietedias {
    background-color: #6b7dc1;
}
.descripcion-planes .decoadic .undia {
    background-color: #778bd8;
}

.forma-pago {
    width: 38%;
    padding: 20px;
    display: inline-flex;
    margin-left: 70px;
}
.forma-pago .radio [type=radio] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    margin: 0;
    display: inline;
    cursor: pointer;
}
.forma-pago .radio {
    padding-right: 20px;
    padding-top: 20px;
}
.forma-pago label {
    cursor: pointer
}
.forma-pago .nombre {
    padding-left: 10px;
    padding-top: 10px;
}

.elegir-opcion .opciones-recarga .aviso-recarga-minima, .elegir-opcion .opciones-recarga .aviso-precios {
    width:100%;
    background: #d8d8d8;
    font-family: Montserrat;
    text-align: center;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    color: #014b54
}

.elegir-opcion .opciones-recarga .aviso-recarga-minima {
    border-bottom: 1px solid #999999

}


.elegir-opcion .opciones-recarga .seleccionar-tarjeta, table thead th {
    color: #097375
}

.elegir-opcion .opciones-recarga .seleccionar-tarjeta table tbody th, table tbody td {
    padding-top: 30px;
}

.elegir-opcion .opciones-recarga .seleccionar-tarjeta label {
    font-size: 20px;
    padding-bottom: 10px;
    color: #097375
}

.elegir-opcion .opciones-recarga .seleccionar-tarjeta select {
    font-size: 16px;
}

.elegir-opcion .opciones-recarga .seleccionar-tarjeta .tabla-recarga, td {
    padding-top: 18px !important;
}

.elegir-opcion .opciones-recarga .seleccionar-tarjeta .tabla-recarga, table tfoot {
    background: #929292;
    color: #fff;
    font-weight: 400 !important
}

.elegir-opcion .opciones-recarga .campo-recarga .monto-recarga {
    background: #fff;
    font-size: 16px
}

.elegir-opcion .boton-recargar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.elegir-opcion .lugares-tarjetas {
    max-width:880px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f4f4f4;
    text-align: center
}

.elegir-opcion .lugares-tarjetas h2 {
    font-size: 28px;
    font-weight: 300;
    color:#014b54;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px
}

.elegir-opcion .lugares-tarjetas h3 {
    font-size: 22px;
    font-weight: 300;
    color:#014b54;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px
}

.elegir-opcion .lugares-tarjetas .opcion-prin-1, .elegir-opcion .lugares-tarjetas .opcion-prin-2, .elegir-opcion .lugares-tarjetas .opcion-prin-3 {
    width: 33.3%;
    height: auto;
    float:left;
    margin-bottom: 30px;
}


.elegir-opcion .lugares-tarjetas .opcion-prin-1 span , .elegir-opcion .lugares-tarjetas .opcion-prin-2 span , .elegir-opcion .lugares-tarjetas .opcion-prin-3 span {
    display: block;
    font-size:22px;
    font-weight: 300;
    color:#014b54;
}

.elegir-opcion .lugares-tarjetas .aviso p {
    display: block;
    font-size:16px;
    font-weight: 300;
    color:#014b54;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px
}

.elegir-opcion .lugares-tarjetas .tarjetas {
    margin-bottom: 60px;
    margin-top: 100px
}

.elegir-opcion .lugares-tarjetas .tarjetas .tarjeta {
    margin-bottom: 20px
}

.elegir-opcion .pago {
    max-width:880px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f4f4f4;
    text-align: center

}
.elegir-opcion .aceptado {
    background-color: #619f2e;
    width: 80%;
    height: 100px;
    margin: auto;
    background-image: url(../img/check.svg);
    padding-left: 60px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 19% 48%;
    display: table;

}

.elegir-opcion .rechazado {
    background-color: #dc3d0b;
    width: 80%;
    height: 100px;
    margin: auto;
    background-image: url(../img/error.svg);
    padding-left: 60px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 19% 48%;
    display: table;

}
.elegir-opcion .aceptado span, .elegir-opcion .rechazado span  {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
}
.no-habilitado {
    color: red !important;
}
@media only screen and (max-width: 680px) {
    header .logo {
        width: 280px;
        height: 100px;
        margin: auto;
        margin-top: 15px;

    }
    header p {
        font-size: 19px;
    }
    .elegir-opcion .opciones .campo-importe {
        font-size: 0.9rem;
    }
    .boton,.boton2 {
        width: 300px;
        font-size: 16px

    }
    .elegir-opcion .opciones-recarga .seleccionar-tarjeta, table thead th {
        font-size: 14px;
    }
    .ingreso .ingreso-datos label {
        font-size: 16px;
    }
    .ingreso h1 {
        font-size: 28px;
    }
    .elegir-cuenta h1 {
        font-size: 28px;
    }
    .elegir-opcion .header-tit {
        font-size: 16px;
    }
    .elegir-opcion .header-tit-exitosa, .elegir-opcion .header-tit-rechazada {
        font-size: 18px;
    }
    .elegir-opcion .opciones-recarga .seleccionar-tarjeta, table thead th {
        font-size: 14px;
    }
    .elegir-opcion .opciones h2 {
        margin-bottom: 20px;
    }
    .ingreso .ingreso-datos .aviso {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .elegir-cuenta .cuenta span {
        font-size: 18px
    }
    .elegir-opcion .opciones {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .elegir-opcion .head-datos span {
        display: block;
        color:#fff;
        font-size: 18px;
        font-weight: 300
    }
    .elegir-opcion .opciones h2 {
        font-size: 22px;
    }

    .elegir-opcion .opciones .table-label {
        font-size: 14px;
        padding-top: 10px !important;
    }
    .descripcion-planes .nombre, .descripcion-planes .treintadias, .descripcion-planes .sietedias, .descripcion-planes .undia {
        float: none;
        width: 100%;
    }
    .forma-pago {
        width: 100%;
        padding: 20px;
        display: block;
        margin-left:auto
    }
    .forma-pago .radio {
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .elegir-opcion .opciones-recarga .seleccionar-tarjeta table tbody th, table tbody td {
        font-size: 14px;
    }
    .elegir-opcion .lugares-tarjetas h2 {
        font-size: 22px;
    }

    .elegir-opcion .lugares-tarjetas h3 {
        font-size: 18px;
        margin-bottom: 20px
    }
    .elegir-opcion .lugares-tarjetas .opcion-prin-1, .elegir-opcion .lugares-tarjetas .opcion-prin-2, .elegir-opcion .lugares-tarjetas .opcion-prin-3 {
        width: 100%;
    }
    .elegir-opcion .lugares-tarjetas .opcion-prin-1 span , .elegir-opcion .lugares-tarjetas .opcion-prin-2 span , .elegir-opcion .lugares-tarjetas .opcion-prin-3 span {
        font-size:18px;
    }
    .elegir-opcion .aceptado, .elegir-opcion .rechazado {
        padding-left: 66px;
        padding-right: 20px;
        width:100%
    }
    .elegir-opcion .aceptado span, .elegir-opcion .rechazado span  {
        font-weight: 500;
        font-size: 16px;
        display: table-cell;
        vertical-align: middle;
    }
    .elegir-opcion .opciones-recarga .aviso-recarga-minima, .elegir-opcion .opciones-recarga .aviso-precios {
        font-size: 14px;

    }
    .elegir-opcion .opciones-recarga .campo-recarga .monto-recarga {
        font-size: 14px;
    }
    .MensajeError
    {
        color: red;
    }
}

.elegir-opcion .header-tit-pendiente {
    margin-top: 20px;
    background-color: #f9a61c;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
